body{
    background-color: azure;
}
#menu{
    margin-left: 7%;
    margin-right: 7%;
    background-color:firebrick;
    border-radius: 15px/15px;
    width: 85%;
}
#menu ul {
    border-radius: 15px/15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#menu li {
    padding-left: 5px;
    padding-right:5px;
    float: left;
}
#menu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li form {
    display: block;
    color: white;,
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
.txt{
    border-radius: 15px/15px;
    align-content: center;
}
#invio{
    border-radius: 15px/15px;
}
#logo{
    text-align: center;
}
#bot{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:azure;
}
#contenuto{
    margin-left: 8%;
    margin-right: 8%;
}
input[type=text]:focus {
    background-color:azure;
}
a:hover{
    background-color:darkred
}
@font-face {
    font-family:serif;
}