/* Tutte le pagine*/
body{
    background-color: azure;
}
#menu{
    margin-left: 7%;
    margin-right: 7%;
    background-color:firebrick;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 85%;
}
#menu ul {
    border-radius: 15px/15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#menu li {
    padding-left: 5px;
    padding-right:5px;
    float: left;
}
#menu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li form {
    display: block;
    color: white;,
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
.txt{
    border-radius: 15px/15px;
    align-content: center;
}
#invio, .invio{
    border-radius: 15px/15px;
}
#logo{
    text-align: center;
}
#bot{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 85%;
    background-color:azure;
}
#contenuto{
    margin-left: 7%;
    margin-right: 8%;
    border-style: solid;
    border-color: firebrick;
    border-width: 0px 20px 20px 20px;
    padding: 1px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
/*Stile menù di login*/
#logmenu {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

/* PAGINA creafarmacia.jsp */
#creaf { text-align: center; display: table;  }
.form { display: table-row;  }
label { display: table-cell; }

/*Globali*/
input[type=text]:focus { background-color:azure; }
a:hover{ background-color:darkred }
@font-face { font-family:sans-serif;}
/* LISTA MESSAGGI*/
table{
    border-collapse: collapse;
    width: 100%
}
table, tr {
    border: 1px solid firebrick;
    border-bottom: 1px solid black;
}
th, td {
    text-align: center;
    padding: 5px;

}
tr:nth-child(even){background-color: #f2f2f2}